@use '../../../styles/colors';

.form-review-wrapper {
    margin: 40px 0;
}

.additional-info {
    font-size: 14px;
}

.form {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    div {
        width: 48%;
    }
}

.form-field {
    margin: 0 0 10px 0;

    textarea,
    input {
        width: 100%;
        padding: 10px;
        font-size: 12px;
    }

    textarea:focus,
    input:focus {
        outline: 1px solid colors.$slateGray;
    }
}

.submit {
    width: 35%;
    border-radius: 30px !important;
    margin: 20px 0;
    background-color: colors.$dark-gray !important;
}

.error {
    color: colors.$errorRed;
    font-size: 10px;
}

.checkbox-info {
    display: flex;
    align-items: self-end;

    input {
        zoom: 1.5;
        margin-right: 5px;
    }

    span {
        color: colors.$slateGray;
        font-size: 12px;
    }
}